plugins {
  id 'nf-schema@2.5.1'
}

params {
  input = "samplesheet.csv"
  outdir = "results"
}

validation {
  help {
    command = "nextflow run my_pipeline --input input_file.csv"
    beforeText = """
This is a help message for the pipeline.
It provides information about the parameters and usage.

    """
    afterText = """
For more information, please refer to the documentation.
    """
    enabled = true
  }
}
